.publication__add,
.logout{
    margin-top: 30px;
}
.publications{
    margin-top: 40px;
}
/* .gravatar{
    width: 100px ;
    height: 100px ;
    background-size: cover;
    border-radius: 100%;
} */
